<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Amine CHIHAB</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body id="body" data-ng-app="contactApp">

    <!--Preloader-->
    <!--/Preloader-->

    <!--Main Wrapper-->
    <div class="main-wrapper">

        <!--Bg Image-->
        <div class="bg-struct bg-img"></div>
        <!--/Bg Image-->

        <div class="mdl-js-layout mdl-layout--fixed-header">

            <!--Top Header-->
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row mdl-scroll-spy-1">
                    <!-- Title -->
                    <a href="index.html"><span class="mdl-layout-title">Amine CHIHAB</span></a>
                    <div class="mdl-layout-spacer"></div>
                    <ul class="nav mdl-navigation mdl-layout--large-screen-only">
                        <li><a class="mdl-navigation__link" data-scroll href="#body">about</a></li>
                        <li><a class="mdl-navigation__link" data-scroll href="#skills_sec">skills</a></li>
                        <li><a class="mdl-navigation__link" data-scroll href="#experience_sec">experience</a></li>
                        <li><a class="mdl-navigation__link" data-scroll href="#education_sec">education</a></li>
                        <li><a class="mdl-navigation__link" data-scroll href="#contact_sec">contact</a></li>
                    </ul>
                    <!-- Right aligned menu below button -->
                    <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon ver-more-btn">
						  <i class="material-icons">more_vert</i>
						</button>

                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="demo-menu-lower-right">
                        <li class="mdl-menu__item"><a href="#"><i class="zmdi zmdi-download font-red pr-10"></i>Download CV</a></li>
                        <li class="mdl-menu__item"><a href="mailto:aminechihb@gmail.com"><i class="zmdi zmdi-email-open font-green pr-10"></i>Contact Me</a></li>
                        <li class="mdl-menu__item"><a href="callto:212615558404"><i class="zmdi zmdi-phone  font-blue  pr-10"></i>+212 6 15 55 84 04</a></li>
                    </ul>
                </div>
            </header>
            <!--/Top Header-->

            <!--Left Sidebar-->
            <div class="mdl-layout__drawer">
                <div class="nicescroll-bar">
                    <div class="drawer-profile-wrap">
                        <div class="candidate-img-drawer mt-25 mb-20"></div>
                        <span class="candidate-name block mb-10 text-center">AMINE CHIHAB</span>
                        <ul class="social-icons  mb-30">
                            <li>
                                <a class="twitter-link" href="https:\\www.twitter.com/aminechihb">
                                    <i id="tt12" class="zmdi zmdi-twitter"></i>
                                    <div class="mdl-tooltip" data-mdl-for="tt12">
                                        Twitter
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="instagram-link" href="https:\\www.instagram.com/aminechihb">
                                    <i id="tt15" class="zmdi zmdi-instagram"></i>
                                    <div class="mdl-tooltip" data-mdl-for="tt15">
                                        Instagram
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-scroll-spy-2">
                        <ul class="mdl-navigation">
                            <li>
                                <a class="mdl-navigation__link border-top-sep" data-scroll href="#body">
                                    <i class="zmdi zmdi-border-color pr-15"></i>
                                    <span class="font-capitalize">about</span>
                                </a>
                            </li>
                            <li>
                                <a class="mdl-navigation__link border-top-sep" data-scroll href="#skills_sec">
                                    <i class="zmdi zmdi-cutlery pr-15"></i>
                                    <span class="font-capitalize">skills</span>
                                </a>
                            </li>
                            <li>
                                <a class="mdl-navigation__link border-top-sep" data-scroll href="#experience_sec">
                                    <i class="zmdi zmdi-shield-check pr-15"></i>
                                    <span class="font-capitalize">experience</span>
                                </a>
                            </li>
                            <li>
                                <a class="mdl-navigation__link border-top-sep" data-scroll href="#education_sec">
                                    <i class="zmdi zmdi-library pr-15"></i>
                                    <span class="font-capitalize">education</span>
                                </a>
                            </li>
                            <li>
                                <a class="mdl-navigation__link border-top-sep border-bottom-sep" data-scroll href="#contact_sec">
                                    <i class="zmdi zmdi-email pr-15"></i>
                                    <span class="font-capitalize">contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="drawer-footer mt-50 mb-30 text-center">
                        <p class="font-12 mt-10">CHIHAB &copy; 2018.</p>
                    </div>
                </div>
            </div>
            <!--/Left Sidebar-->

            <!--Main Content-->
            <div class="main-content relative">
                <div class="container">

                    <!--About Sec-->
                    <section class="about-sec mt-180 mt-sm-120  mb-30">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mdl-card mdl-shadow--2dp">
                                    <div class="row">
                                        <div class="col-md-5 col-xs-12 mb-30">
                                            <div class="candidate-img mb-35"></div>
                                            <ul class="social-icons">
                                                <li>
                                                    <a class="twitter-link" href="https:\\www.twitter.com/aminechihb">
                                                        <i id="tt2" class="zmdi zmdi-twitter"></i>
                                                        <div class="mdl-tooltip" data-mdl-for="tt2">
                                                            twitter
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="instagram-link" href="https:\\www.instagram.com/aminechihb">
                                                        <i id="tt5" class="zmdi zmdi-instagram"></i>
                                                        <div class="mdl-tooltip" data-mdl-for="tt5">
                                                            instagram
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-7 col-xs-12">
                                            <div class="info-wrap">
                                                <h1>AMINE CHIHAB</h1>
                                                <h5 class="mt-20 font-grey">Computer Engineer</h5>
                                                <div class="mt-30">
                                                                                                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-blue font-white" href="#contact_sec" data-scroll>contact</a>
                                                </div>
                                            </div>
                                            <ul class="profile-wrap mt-50">
                                                <li>
                                                    <div class="profile-title">age</div>
                                                    <div class="profile-desc">22</div>
                                                </li>
                                                <li>
                                                    <div class="profile-title">address</div>
                                                    <div class="profile-desc">
                                                        DB MARRAKECH BC 7, MOHAMMEDIA
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="profile-title">email</div>
                                                    <div class="profile-desc">
                                                        aminechihb@gmail.com
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="profile-title">phone</div>
                                                    <div class="profile-desc">
                                                        +212 6 15 55 84 04
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/About Sec-->

                    <!--Skills Sec-->
                    <section id="skills_sec" class="skills-sec sec-pad-top-sm">
                        <div class="row">
                            <div class="col-sm-6 mb-30">
                                <h2 class="mb-30">technical skills</h2>
                                <div class="mdl-card mdl-shadow--2dp">
                                    <div class="mb-30">
                                        <span class="progress-cat">C/C++</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="70"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">C#</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="80"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">Python</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="70"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">JAVA</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="60"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">JEE</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="60"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">PLSQL, SQL SERVER, MySQL</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="85"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">ASP.NET</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="80"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">HTML</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap green-bar">
                                                    <span data-width="90"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">CSS 3</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap green-bar">
                                                    <span data-width="80"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">Javascript</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap yellow-bar">
                                                    <span data-width="60"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6 mb-30">
                                <h2 class="mb-30">soft skills</h2>
                                <div class="mdl-card mdl-shadow--2dp">
                                    <div class="mb-30">
                                        <span class="progress-cat">Communication</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap blue-bar">
                                                    <span data-width="80"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">Language</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap green-bar">
                                                    <span data-width="90"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-30">
                                        <span class="progress-cat">General Knowledge</span>
                                        <div class="progress-bar-graph">
                                            <div class="progress-bar-wrap">
                                                <div class="bar-wrap yellow-bar">
                                                    <span data-width="70"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/Skills Sec-->


                    <!--/Profile Sec-->


                    <!--Interest Sec-->
                    <section id="interest_sec" class="interest-sec sec-pad-top-sm">
                        <h2 class="mb-30">interests</h2>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6 mb-30">
                                <div class="mdl-card mdl-shadow--2dp text-center pa-20 pt-30 pb-30">
                                    <i class="zmdi zmdi-radio"></i>
                                    <span>music</span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 mb-30">
                                <div class="mdl-card mdl-shadow--2dp text-center pa-20 pt-30 pb-30">
                                    <i class="zmdi zmdi-smartphone-ring"></i>
                                    <span>gaming</span>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 mb-30">
                                <div class="mdl-card mdl-shadow--2dp text-center pa-20 pt-30 pb-30">
                                    <i class="zmdi zmdi-dribbble"></i>
                                    <span>sports</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/Interest Sec-->

                    <!--Experience Sec-->
                    <section id="experience_sec" class="experience-sec sec-pad-top-sm">
                        <h2 class="mb-30">experience</h2>
                        <div class="timeline-wrap  overflow-hide mb-30">
                            <ul class="timeline">


                                <li class="timeline-inverted">
                                    <div class="timeline-badge">
                                        <i class="zmdi zmdi-apps font-green"></i>
                                    </div>
                                    <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-green">
                                        <div class="timeline-heading">
                                            <h4 class="mb-10">MADANIA-WEB</h4>
                                            <span class="duration mb-5">Aug 2016 — Sep 2016</span>
                                            <span class="institution">ALGO Consulting</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="mt-25">School Administration web app</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="timeline-badge">
                                        <i class="zmdi zmdi-apps font-yellow"></i>
                                    </div>
                                    <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
                                        <div class="timeline-heading">
                                            <h4 class="mb-10">MyStock</h4>
                                            <span class="duration mb-5">Mar 2015 – Apr 2015</span>
                                            <span class="institution">ALGO Consulting</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="mt-25">Stock Management desktop app</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix no-float"></li>
                            </ul>
                        </div>
                    </section>
                    <!--/Experience Sec-->

                    <!--Education Sec-->
                    <section id="education_sec" class="education-sec sec-pad-top-sm">
                        <h2 class="mb-30">education</h2>
                        <div class="timeline-wrap overflow-hide mb-30">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge bg-blue no-icon"></div>
                                    <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-blue">
                                        <div class="timeline-heading">
                                            <h4 class="mb-10">master of computer science</h4>
                                            <span class="duration mb-5">2016 - 2019</span>
                                            <span class="institution">Ecole Marocaine des Sciences de l'Ingénieur</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="timeline-inverted">
                                    <div class="timeline-badge bg-green no-icon"></div>
                                    <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-green">
                                        <div class="timeline-heading">
                                            <h4 class="mb-10">IT development diploma</h4>
                                            <span class="duration mb-5">2014 - 2016</span>
                                            <span class="institution">Institut Spécialisé de Technologie Appliquée</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="timeline-badge bg-yellow no-icon"></div>
                                    <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
                                        <div class="timeline-heading">
                                            <h4 class="mb-10">Bachelor Of Science</h4>
                                            <span class="duration mb-5">2014</span>
                                            <span class="institution">Pythagore High School</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="clearfix no-float"></li>
                            </ul>
                        </div>
                    </section>
                    <!--/Education Sec-->

                    <!--Contact Sec-->
                    <section id="contact_sec" class="contact-sec sec-pad-top-sm">
                        <h2 class="mb-35">contact</h2>
                        <div class="row">
                            <div id="form_card_height" class="col-sm-7 mb-30">
                                <div class="mdl-card mdl-shadow--2dp" data-ng-controller="ContactController">
                                    <h4 class="mb-10 font-unsetcase">Hey <span data-ng-bind="formData.inputName||'there'">there</span>, happy to hear from you.</h4>
                                    <form data-ng-submit="submit(contactform, $event)" name="contactform" method="post" class=" form-horizontal mb-30" role="form">
                                        <div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input autocomplete="off" data-ng-model="formData.inputName" class="mdl-textfield__input" type="text" id="inputName" name="inputName" required>
                                                <label class="mdl-textfield__label" for="inputName">name*</label>
                                            </div>
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input autocomplete="off" data-ng-model="formData.inputEmail" class="mdl-textfield__input" type="email" id="inputEmail" name="inputEmail" required>
                                                <label class="mdl-textfield__label" for="inputEmail">email*</label>
                                            </div>
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <textarea data-ng-model="formData.inputMessage" class="mdl-textfield__input" rows="3" id="inputMessage" name="inputMessage" required></textarea>
                                                <label class="mdl-textfield__label" for="inputMessage">message*</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="align-center">
                                                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-blue font-white" data-ng-disabled="submitButtonDisabled">
														submit
													</button>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="block result" data-ng-class="result">{{ resultMessage }}</p>
                                </div>
                            </div>
                            <div class="col-sm-5 mb-30">
                                <div class="mdl-card mdl-shadow--2dp pa-0">
                                    <div id="map_canvas"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/Contact Sec-->

                    <!--Footer Sec-->
                    <footer class="footer-sec sec-pad-top-sm sec-pad-bottom text-center">

                        <p class="mt-10">CHIHAB 2018. All rights reserved.</p>
                        <ul class="social-icons mt-10">

                            <li>
                                <a class="twitter-link" href="https:\\www.twitter.com/aminechihb">
                                    <i id="tt7" class="zmdi zmdi-twitter"></i>
                                    <div class="mdl-tooltip" data-mdl-for="tt7">
                                        twitter
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="instagram-link" href="https:\\www.instagram.com/aminechihb">
                                    <i id="tt10" class="zmdi zmdi-instagram"></i>
                                    <div class="mdl-tooltip" data-mdl-for="tt10">
                                        instagram
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </footer>
                    <!--Footer Sec-->
                </div>
            </div>
            <!--/Main Content-->

        </div>
    </div>
    <!--/Main Wrapper-->

    <!-- Scripts -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/jQuery.appear.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/lightgallery-all.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/froogaloop2.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
    <script src="js/init.js"></script>
</body>

</html>
